header {
  height: 50px;
  border: 1px solid #512d6d;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.titulo {
  font-size: 25px;
  padding: 10px;
  color: #eeeeee;
}

.boton-reinicio {
  position: absolute;
  left: 12px;
  top: 58px;
}
